@{
    if (TempData.ContainsKey("card"))
    {
        TempData.Keep("card");
        TempData.Keep("ismanager");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">勞保系統</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (!TempData.ContainsKey("card"))
                        {
                            <script>
                                if (document.location.href != "https://localhost:44313/") {
                                    alert("網頁跳轉");
                                    document.location.href = "https://localhost:44313/";
                                }
                            </script>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="SignIn">登入</a>
                            </li>
                        }
                        @if (TempData.ContainsKey("card"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">登入帳號：@TempData["card"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="SignOut">登出</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        @if (Convert.ToString(TempData["card"]).Length != 0)
                        {
                            @if (Convert.ToString(TempData["card"]).Length == 4)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">新建</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">搜尋 </a>
                            </li>
                            @if (Convert.ToString(TempData["ismanager"]) == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Audit">審核</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Manage">更改</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InsuranceFee">選擇付款人</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Output">匯出加保單</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InsuranceFeePayment">保費查詢</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <h2>You are signed in as @User.Identity.Name</h2>
        <form asp-controller="Security" asp-action="SignOut" method="post">
            <button type="submit">Sign Out</button>
        </form>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
